<!DOCTYPE html>
<html>

<head>
  <title>Austin Dance Events</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">Austin Dance Events</a>
        <ul class="right">
            <li>
                <% if (user) { %>
                  <a href= "events/new"><i class="material-icons left"></i>Add Event</a>
               <% } %>
              </li>
          <li>
          <% if (user) { %>
              <a href="/logout"><i class="material-icons left">trending_flat</i>Log Out</a>
          <% } else { %>
              <a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a>
          <% } %>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <h3>Title</h3>
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>company</th>
        <th>choreographer</th>
        <th>description</th>
        <th>location</th>
        <th>time</th>
      </tr>
    </thead>
    <tbody>
      <% event.forEach(function(e) { %>
        <tr>
          <td><%= e.title %></td>
          <td><form action="/events/<%= e._id %>?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
          </form></td>
        </tr>
     <% }); %>
    </tbody>
  </table>

  </body>
</html>